<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="../Styles/main.css">
	<script src="../JS/home.js" async></script>
	<script src="../JS/app.js" defer type="module"></script>
	<title>Mi farmacia</title>
</head>
<body>
	<!-- NAVBAR -->
	<nav>
		<i class='bx bx-menu toggle-sidebar container-fluid' ></i>
		<form action="#">
			
		</form>
		
		<span class="divider"></span>
		<div class="profile">
			<img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
			<ul class="profile-link">
				<li><a href="#"><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
				<li><a href="#"><i class='bx bxs-cog' ></i> Settings</a></li>
				<li><a href="#"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
			</ul>
		</div>
	</nav>
    <img src="https://img.freepik.com/free-photo/young-hispanic-woman-pharmacist-smiling-confident-standing-with-arms-crossed-gesture-pharmacy_839833-7087.jpg?t=st=1695333926~exp=1695334526~hmac=571b1f5279505a5f4905185ca2044ddccf479407ceec5d6dc481b9b49a990a4f%22" alt="Personal dando bienvenida a la farmacia">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>